/* Position and size the burger button */
.bmBurgerButton {
	position: absolute;
	width: 36px;
	height: 30px;
	right: 20px;
	/* Adjust as needed */
	top: 20px;
	/* Adjust as needed */
	z-index: 1000;
	/* Ensure it's above other elements */
}

/* Style the burger bars */
.bmBurgerBars {
	background: #ffffff;
	/* Change to your desired color */
}

/* Add hover effect for the bars */
.bmBurgerBars {
	background: #e6e6e6;
	/* Adjust hover color */
}

.bmOverlay {
	top: 0;
	right: 0;
}

.bmMenu {
	background: #233774;
	/* Change to your desired color */
}

.bmItemList {
	padding: 20px;

	a {
		color: white;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 30px;
		border-bottom: 2px solid rgb(78, 78, 78);
	}
}

.bmCross {
	background-color: white;
}