.header {
	background-color: #233774;
	display: flex;
	padding: 10px 0px;
}

.logoDiv {
	position: relative;
	max-height: 114px;
	height: 100%;
	width: 100%;
	max-width: 346px;
	aspect-ratio: 3 / 1;
	margin-left: 30px;
}

.navContainer {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-right: 30px;

	a {
		color: #8B9CB9;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 30px;
	}

	a:hover {
		color: #fff;
	}

	.languageSwitcher {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		a {
			font-size: 27px;
		}

		span {
			margin: 0px 10px;
			color: #8B9CB9;
			font-size: 14px;
		};
	}

	.navLinks {
		margin-top: auto;
		display: flex;
		justify-content: flex-end;
		gap: 50px;
	}
}

.mobileDiv {
	display: none;
	position: absolute;
	right: 0;
}

@media (max-width: 1100px) {
	.mobileDiv {
		display: block;
		margin-left: auto;
	}
	.navContainer {
		display: none;
	}
	.logoDiv {
		width: 50%;
		height: 50%;
		margin: auto;
	}
}


/* Position and size the burger button */
.bmBurgerButton {
	position: absolute;
	width: 36px;
	height: 30px;
	right: 20px;
	/* Adjust as needed */
	top: 20px;
	/* Adjust as needed */
	z-index: 1000;
	/* Ensure it's above other elements */
}

/* Style the burger bars */
.bmBurgerBars {
	background: #ffffff;
	/* Change to your desired color */
}

/* Add hover effect for the bars */
.bmBurgerBars {
	background: #e6e6e6;
	/* Adjust hover color */
}

.bmOverlay {
	top: 0;
	right: 0;
}

.bmMenu {
	background: #233774;
	/* Change to your desired color */
}

.bmItemList {
	padding: 20px;
	a {
		color: white;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 30px;
		border-bottom: 2px solid rgb(78, 78, 78);
	}	
}

.bmCross {
	background-color: white;
}