.footer {
	background-color: #233774;
	color: white;
	padding: 20px;
}

.footerContent {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 70px;
	.contentColumn {
		padding-left: 20px;
	}
}

.footerBottom {
	border-top: 2px solid white;
	display: flex;
	justify-content: center;
	position: relative;
	div {
		position: absolute;
		display: flex;
		right: 0;
		gap: 10px;
	}
}

.logoAndFormDiv {
	display: flex;
	flex-direction: column;
}

.logoDiv {
	position: relative;
	width: 100%;
	aspect-ratio: 3 / 1;
}

.emailInputDiv {
	display: flex;
	border-bottom: 2px solid white;
	margin: 15px 0px;

	input[type="email"] {
		padding: 0;
		background: none;
		border: none;
		border-radius: 0;
		outline: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		color: white;
		margin-left: 10px;
	}
}

.formSubmitBtn {
	color: #233774;
	background-color: white;
	border-radius: 2px;
	border: 1px solid white;
	width: 100px;
	text-decoration: none;
	padding: 5px;
}

@media (max-width: 768px) {
	.logoAndFormDiv {
		grid-column: 1 / -1;
	}
	.logoDiv {
		max-height: unset;
		width: 100%;
		max-width: 346px;
	}
	.footer {
		.footerContent {
			grid-template-columns: 1fr 1fr;
			gap: 0;
			.contentColumn {
				padding: 0;
			}
		}
		.footerBottom {
			text-align: center;
			justify-content: center;
			flex-direction: column;
			div {
				position: unset;
				display: flex;
				justify-content: center;
			}
		}
		flex-direction: column;
	}
}